body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  color: rgb(90, 144, 84);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plantBox {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
}